<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error page</title>

    <style>
        h1,h2,a{
            text-align: center;

        }
    </style>
</head>
<body>


    <h1>OOPS !!! You have encountered an error</h1>
    <h2>Click on below link to get to login Page</h2>
    <a href="/">Home</a>
    
</body>
</html>